{# templates/list.html.twig #}
{% extends 'base.html.twig' %}

{% block header %}List of posts{% endblock %}


    {% block stylesheets %}
        <style>
            table {    
                border-collapse: collapse;
                border-radius: 10px;
                width: 100%;
                border: 1px solid #6f42c1;
                margin-top: 20px;
                padding: 0px;
            }
            th {
                background-color: #6f42c1;
                color: white;
                border: none;
            }
            th, td {
                border: 1px solid #6f42c1;
                padding: 10px;
                text-align: left;
            }
            tr:nth-child(even) {
                background-color:  #f1ecf9;
            }

            .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
            }
            
        </style>
    {% endblock %}
    {% block body %}

        {% if message is not empty %}
            <div class="alert alert-info" role="alert">
                {{message[0]}}
            </div>
        {% endif %}
                
        {% if data is empty %}
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Database is empty</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">There are no data in the database.<br>Populate it with command <br>php bin/console fetch</p>
                </div>
            </div>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.body }}</td>
                            <td><a class='btn btn-secondary' href="/lista/delete/{{ item.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        {% endif %}
{% endblock %}
